/* style for page */
body{
  overflow: hidden;
  background:url("../static/apple.png");
  background-size: 100% 100%;
  /* background-attachment: fixed; */
}

/* page in which ipod is displayed */
.ipod-page{
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }