/* style for visible screen on ipod */
.ipod-screen{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    height: 12rem;
    width: 13rem;
    border: black solid 2px;
    overflow: hidden;
    border-radius: 5px;
}

/* display excluding navigation bar */
.main-display {
    display: flex;
    flex-direction: row;
    height: 11rem;
    background-image: url("https://cdn5.vectorstock.com/i/1000x1000/91/74/full-battery-icon-vector-22989174.jpg");
    background-attachment: fixed;
    background-size: 100% 100%;
  }
  
  /* left side of main display with menuItems */
  .screen-menu {
    width: 6.5rem;
    display: flex;
    flex-direction: column;
    background-color: white;
  }
  
  /* screen display */
  .screen-display {
    background-color: red;
    width: 7.5rem;
  }
  
  /* menuItem on each page */
  .menu-item {
    padding: 0.5rem;
  }
  
  /* if color of active menuItem */
  .active {
    background-color: #3783d8;
  }