/* each menuItem */
.menu-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* screen title on fullscreen */
.screen-title{
    margin-left: 0.25rem;
    font-size: medium;
    font-weight: 600;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

/* arrow icon on side */
.side-icon{
    color: white;
}